.container {
  background-color: black;
  color: white;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  align-content: flex-start;
  h2 {
    color: var(--primary-color);
  }
}
