.container {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  align-content: flex-start;
  h2 {
    color: var(--primary-color);
  }
}
.termsContainer {
  height: 10rem;
  overflow-y: scroll;
  scrollbar-color: dark;
}
