.table {
  border-collapse: collapse;
  caption {
    font-size: 1.25em;
  }
  tr {
    td {
      border-top: 1px solid;
      padding: 0.25rem 0;
    }
    &:last-child td {
      border-bottom: 1px solid;
    }
    &:first-child th {
      padding-top: 1rem;
    }
    &:last-child th {
      padding-bottom: 1rem;
    }
    td,
    th {
      padding: 0 1rem;
    }
  }
}
